.sign-in {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }
}

.sign-in-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
